@charset "utf-8";
*{margin:0;padding:0}
body{font-family:"微软雅黑";background:#DAD9D7}
img{border:none}
a {cursor:pointer; text-decoration: none; color: #666; }
a:hover{text-decoration:underline; color: #000}
.bg{width:100%;background:url("../images/404/01.jpg") no-repeat center top #DAD9D7;position:absolute;top:0;left:0;height:600px;overflow:hidden}
.cont{margin:0 auto;width:500px;line-height:20px;}
.c1{height:360px;text-align:center}
.c1 .img1{margin-top:180px}
.cont h2{text-align:center;color:#555;font-size:20px;font-weight:normal;padding: 10px 0; margin-bottom: 10px;}
.c2{height:35px;text-align:center; padding-bottom: 5px;}
.c2 a{display:inline-block;margin:0 4px;font-size:15px; line-height:24px; text-decoration:none;text-align:left}
.c2 a.home{background:url("../images/404/02.png") no-repeat;padding-left:30px}
.c2 a.re{background:url("../images/404/03.png") no-repeat;padding-left:30px}
.c3{height:180px;text-align:center;color:#999;font-size:14px}


